<nav class="sidebar">
    <ul>
        <li><a href="{{ path('home') }}"> Home</a></li>
        <li><a href="{{ path('about') }}">About us</a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('list') }}"> List</a></li>
            <li><a href="{{ path('idea_add') }}"> Add</a></li>
            <li><a href="{{ path('category_index') }}"> Categories</a></li>
            <li><a href="{{ path('logout') }}"> Logout</a></li>
        {% else %}
            <li><a href="{{ path('login') }}">Login</a></li>
            <li><a href="{{ path('user_register') }}">Sign in</a></li>
        {% endif %}
    </ul>
</nav>
